<!-- Eclipse checkstyle plugin configuration -->
<fileset-config file-format-version="1.2.0" simple-config="true">
    <local-check-config
        name="check-rules"
        location="https://raw.githubusercontent.com/suwa-sh/java/master/checks/src/src/main/resources/checkstyle/checkstyle.xml"
        type="remote"
        description="check-rules.">
        <property name="checkstyle.cache.file" value="checkstyle.cache" />
    </local-check-config>
    <fileset name="sources" enabled="true" check-config-name="check-rules" local="true">
        <file-match-pattern match-pattern="." include-pattern="true" />
    </fileset>
    <filter name="NonSrcDirs" enabled="true" />
</fileset-config>